.random-color-section {
  font-style: italic;
  background-image: #3494e6; /* fallback for old browsers */
  background-image: -webkit-linear-gradient(
    to right,
    #ec6ead,
    #3494e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(
    to right,
    #ec6ead,
    #3494e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.random-color-section h2 {
  text-align: center;
  padding-top: 1.5rem;
}
.random-color-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.random-color-content {
  background-color: orange;
  width: 18.75rem;
  height: 9.375rem;
  color: #fff;
  margin: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
  border: 0.25rem solid #000;
  border-radius: 0.8rem;
}
